{% extends 'base.html' %}
{% block main %}
<h1>회원정보 조회</h1>
<p>아이디: {{ User_detail.username }}</p>
<p>이름: {{ User_detail.last_name }}{{ User_detail.first_name }}</p>
<p>이메일: {{ User_detail.email }}</p>
<p>생년월일: {{ User_detail.birthday }}</p>

<div class="d-flex">
  {% comment %} <a href="{% url 'accounts:edit' user.pk %}" class="btn btn-outline-warning m-3">수정</a> {% endcomment %}
  <a href="{% url 'accounts:edit' %}" class="btn btn-outline-warning m-3">수정</a>
  <a href="{% url 'posts:index' %}" class="btn btn-outline-dark m-3">뒤로가기</a> 
</div>

{% endblock main %}